*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
   margin: 0px auto;
   width: 500px;
}
.app {
    display: flex;
    flex-direction: column;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    border: 1px solid rgb(189, 207, 189);
}

